# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/images/*
web/js/*

# Composer
composer.phar

# Vagrant
.vagrant*
nbproject/*

# Local environment variables
build/.env

".gitignore" 25L, 262C

